body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3498db; /* Azul */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9; /* Azul más oscuro */
}

.result {
  margin-top: 20px;
  padding: 10px;
  background-color: #ecf0f1; /* Gris claro */
  border-radius: 4px;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo */
  z-index: 1; /* Por encima de otros elementos */
  left: 0; /* A la izquierda */
  top: 0; /* Arriba */
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Desplazamiento automático si es necesario */
  background-color: rgba(0,0,0,0.5); /* Fondo oscuro con opacidad */
}

.modal-content {
  background-color: #fefefe; /* Fondo blanco */
  margin: auto; /* Centrado */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  width: 80%; /* Ancho del modal */
}

.close {
  color: #aaa; /* Color gris claro */
  float: right; /* A la derecha */
  font-size: 28px; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
}

.close:hover,
.close:focus {
  color: black; /* Color negro al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 600px) {
 .container {
     padding-left: 10px; 
     padding-right: 10px; 
 }

 button {
     font-size: 18px; 
 }

 h1 {
     font-size: 24px; 
 }
}
